.post-blog p{
  margin: 8px 0px;
}

.post-blog h2{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 8px 0px;
  margin-top: 24px;
}

.post-blog h3{
  font-size: 1rem;
  font-weight: 500;
  margin: 8px 0px;
}

.post-blog code{
  display: flex;
  overflow: auto;
  padding: 8px 16px;
  color: #FFF;
  background: #707070;
  border-radius: 4px;
  margin: 8px 0px;
  width: 100%;
}

.post-blog strong,
.post-blog b{
  font-weight: 600;
}

.post-blog img{
  margin: 8px auto;
}

.post-blog blockquote{
  padding: 4px 16px;
  border-left: 2px solid #ccc;
  margin: 8px 0px;
  color: #707070;
}

.post-blog .highlight{
  display: flex;
  width: 100%;
  background: #333;
  color: #FFF;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 16px 0px;
}

.post-blog .highlight p{
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.post-blog .highlight a{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.post-blog ul{
  display: flex;
  flex-direction: column;
}

.post-blog ul li{
  margin: 8px 0px;
}

.post-blog ul li::marker {
  content: '»  ';
  font-size: 0.75rem;
}